:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Typography */
  --type-family-sans: 'Work Sans', sans-serif;

  --type-size-small: 0.75rem;
  --type-leading-small: 1.1;

  --type-size-base: 1rem;
  --type-leading-base: 1.5;

  --type-size-medium: 1.5rem;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-base: 2rem;
  --color-black: #000;

  --z-1: 100;
}

html {
  font-size: 16px;
}

main {
  padding: var(--spacing-base);
}

body {
  font-family: var(--type-family-sans);
  background: var(--color-white);
  color: var(--color-black);
  line-height: var(--type-leading-base);
  font-size: var(--type-size-base);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 { font-weight: bold }

nav {
  padding: var(--spacing-base);
}

.link-active { font-weight: bold }

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
  width: 100vw;
}

.loading {
  --radius: 1rem;
  margin: calc(var(--radius) * -1);
  height: calc(var(--radius) * 2);
  width: calc(var(--radius) * 2);
  border-radius: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid var(--color-black);
  border-top: 3px solid var(--color-white);
  border-left: 3px solid var(--color-white);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.books {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.book__title {
  font-weight: 600;
  line-height: 1.25;
  margin: 0.25rem 0;
}

.book__cover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.book__author {
  font-size: var(--type-size-small);
}

.book__dates-read {
  font-size: var(--type-size-small);
  margin-bottom: 0.5rem;
  opacity: .7;
}

.book__tag {
  border-radius: 10px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font-size: var(--type-size-small);
  margin-right: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  word-break: keep-all;
}

.book__tag:hover {
  background: var(--color-black);
  color: white;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(365, 1fr);
  margin: var(--spacing-base) 0;
}

.timeline h1 {
  font-size: var(--type-size-medium);
  margin-bottom: var(--spacing-base);
}

/* lol sorry */
.january {
  grid-column: 1 / 31;
}

.february {
  grid-column: 31 / 59;
}

.march {
  grid-column: 59 / 88;
}

.april  {
  grid-column: 88 / 120;
}

.may {
  grid-column: 120 / 151;
}

.june {
  grid-column: 151 / 181;
}

.july {
  grid-column: 181 / 212;
}

.august {
  grid-column: 212 / 243;
}

.september {
  grid-column: 243 / 273;
}

.october {
  grid-column: 273 / 304;
}

.november {
  grid-column: 304 / 334;
}

.december {
  grid-column: 334 / 366;
}

.month {
  font-size: var(--type-size-small);
  grid-row: 0 / 1;
  padding-left: 4px;
  position: relative;
}

.month::after {
  border-left: 1px solid black;
  content: '';
  height: 400px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
}

.timeline h1 { grid-column: 1 / -1; }

.timeline__book {
  background: black;
  border-radius: 10px;
  height: 6px;
  margin-bottom: 10px;
  position: relative;
}

.timeline__book:hover {
  cursor: pointer;
}

.timeline__book__detail {
  background: var(--color-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-white);
  font-size: var(--type-size-small);
  left: 0;
  line-height: var(--type-leading-small);
  opacity: 0;
  padding: var(--spacing-small);
  position: absolute;
  top: 1rem;
  transition: all 250ms ease-in-out;
  visibility: hidden;
  width: 100px;
  z-index: var(--z-1);
}

.timeline__book__detail::after {
  border-bottom: 8px solid black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: -8px;
  width: 0;
}

.timeline__book__detail__title {
  font-weight: 700;
  margin-bottom: var(--spacing-small);
}

.timeline__book:hover .timeline__book__detail {
  opacity: 1;
  visibility: visible;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
       url('/assets/fonts/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Medium.woff2') format('woff2'),
       url('/assets/fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 600;
}
