:root {
  --background: #fff;
  --foreground: #000;
}

html {
  font-size: 65.25%;
}

body {
  font-family: 'Lunch', sans-serif;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 { font-weight: bold }

/**
 * nav
 */

nav {
  padding: 2rem;
}

.link-active { font-weight: bold }

/**
 * copy
 */

.copy > * {
  margin-bottom: 2.7rem;
  margin-top: 2.7rem;
}

.copy > *:first-child { margin-top: 0 }
.copy > *:last-child { margin-bottom: 0 }

.copy a {
  text-decoration: underline;
}

.copy figure {
  margin: 0;
}

.copy ul, .copy li {
  list-style: disc;
}

.copy li {
  margin-left: 2rem;
}

.copy-width > *:not(figure) {
  max-width: 55rem;
}

/**
 * entries
 */

.entries {
  margin-top: -2rem; 
}

.entries > * {
  margin-bottom: -1.8rem;
  max-height: 18.75rem;
  overflow: hidden;
  transform: translate3d(0, 1.8rem, 0);
  transition: transform 150ms ease-out;
}

.entries > *:nth-child(even) {
  background: var(--background);
  color: var(--foreground);
}

.entries > *:nth-child(odd) {
  background: var(--foreground);
  color: var(--background);
}

.entries > *:hover {
  transform: translate3d(0, 0, 0);
}

/**
 * entry
 */

.container {
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  display: grid;
  padding: 2rem;
}

.container > :nth-child(1) { grid-column-end: span 4 }
.container > :nth-child(2) { grid-column-end: span 8 }

/**
 * content
 */

.content {
  padding: 2rem;
}

/**
 * lists
 */

.comma-item:not(:last-child):after {
  content: ', ';
}

/**
 * not found
 */

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
  width: 100vw;
}

/**
 * loading
 */

.loading {
  --radius: 1rem;
  margin: calc(var(--radius) * -1);
  height: calc(var(--radius) * 2);
  width: calc(var(--radius) * 2);
  border-radius: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid var(--foreground);
  border-top: 3px solid var(--background);
  border-left: 3px solid var(--background);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/**
 * typography
 */

@font-face {
  font-family: 'Lunch';
  src: url('/assets/lunchtype22-light-webfont.woff2') format('woff2'),
       url('/assets/lunchtype22-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lunch';
  src: url('/assets/lunchtype23-light-italic-webfont.woff2') format('woff2'),
    url('/assets/lunchtype23-light-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lunch';
  src: url('/assets/lunchtype22-medium-webfont.woff2') format('woff2'),
    url('/assets/lunchtype22-medium-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lunch';
  src: url('/assets/lunchtype23-medium-italic-webfont.woff2') format('woff2'),
    url('/assets/lunchtype23-medium-italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}